:root {
	--scale: 1,
}

body {
	background: darkslategray;
	padding: 0;
	margin: 0;
	touch-action: none;
}

.wrapper {
	display: grid;
	place-items: center;
	margin: 0 auto;
	max-width: 600px;
}

@media (orientation: portrait) { 
	.wrapper {
		height: 100vw;
		width: 100vw;
	}
}

@media (orientation: landscape) { 
	.wrapper {
		height: 100vh;
		width: 100vh;
	}
}

#game {
	transform: scale(var(--scale));
	transform-origin: top left;
}

#game:hover {
	cursor: none;
}

#game.inactive {
	cursor: pointer;
}